.scrollbar {
    display: auto;
    width: 100%;
    overflow-y: scroll;
    max-height: 100vh; 
     /* Ajusta el valor según sea necesario */
}
  .scrollbar-thumb {
    background: #000000;
  }
  
  .scrollbar::-webkit-scrollbar {
    
    width: 4px;
    height: 8px;
    background-color: transparent; /* o agrégalo al track */
  }
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: linear-gradient(to right, #ffd9009b, #FFD700);
    border-radius: 30px;
    
  }
  